.vscode/
.vs/
GameData/
imgui.ini
MakeBuilds/
x64/
ARM64/
Release/
Debug/
styles.skot
kotonoha.ckot
log.lkot
dump.ass
Kotonoha
Android/libsdl/ffmpeg
Android/ARM64
Android/ARM
Android/x64
Android/SDL2/ARM64
Android/SDL2/ARM
Android/SDL2/x64
Android/app/src/main/jniLibs/**