Icon.h linguist-generated=true
HIDDevice.java linguist-generated=true
HIDDeviceManager.java linguist-generated=true
SDL.java linguist-generated=true
SDLAudioManager.java linguist-generated=true
SDLSurface.java linguist-generated=true
HIDDeviceBLESteamController.java linguist-generated=true
HIDDeviceUSB.java linguist-generated=true
SDLActivity.java linguist-generated=true
SDLControllerManager.java linguist-generated=true
